.container {
  margin: 0 auto;
  width: 85%;
}

.options {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  gap: 15px 0;
}

.submitButton {
  margin-bottom: 70px;
}
