@import "../../assets/globals";

.container {
  margin: 0 auto;
  width: 85%;
}

.options {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  gap: 15px 0;
}

.option {
  display: flex;
  flex-flow: column wrap;
}

.submitButton {
  margin-bottom: 80px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: $mobile-breakpoint) {
  .options {
    grid-template-columns: 100%;
    gap: 20px;
  }
}
